html{
    background-image: url('/static/img4.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 5%; */
    padding: 5px;
}

@font-face {
    font-family: font;
    src: url('/static/SITKA.TTC');
}

.header{
    display: block;
    padding: 5px;
    border: 1px solid rgb(168, 196, 216);
    border-radius: 5px;
    box-shadow: #506791;
    margin: 5px;
}

.form{
    background-color: rgba(53, 78, 96, 0.7);
    border-radius: 1%;
    padding: 20px;

    text-align: center;
    text-decoration: none;
    font-family: font;
    font-style: normal;
    font-size: medium;
}

.table{
    background-color: rgba(53, 78, 96, 0.7);
    border-radius: 1%;
    padding: 20px;

    text-align: center;
    text-decoration: none;
    font-family: font;
    font-style: normal;
    font-size: medium;
}

.container{
    display: flex;
}

.left_container{
    display: block;
    width: 35%;
    padding: 5px;
    border: 1px solid rgb(168, 196, 216);
    border-radius: 5px;
    box-shadow: #506791;
    margin: 5px;
}

.right_container{
    margin: 5px;
    float: right;
    display: block;
    width: 65%;
    padding: 5px;
    border: 1px solid rgb(168, 196, 216);
    border-radius: 5px;
    box-shadow: #506791;
}

.img{
    width: 400px;
    height: 400px;
    display: inline-block;
    margin: 5px;
    opacity: 0.8;
}

h1{
    font-family: font;
    font-weight: normal;
    color: antiquewhite;
}

h2{
    font-family: font;
    font-weight: normal;
    color: antiquewhite;
}