<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/homepage.css" />
    <title>Resume Screening and Rating</title>
</head>

<body>

    <div class="header">
        <h1>Resume Ranker & Classifier</h1>
    </div>

    <div class="container">
        <div class="left_container">
            <img class="img" src="/images/home_icon1.png"></img>
        </div>

        <div class="right_container">

            <div class="button_box">
                <a href="/classify"><input type='button' class="btn" value='Resume Classifier'></a>
                <a href="/rating"><input type='button' class="btn" value='Resume Ranker'></a>
            </div>

        </div>
    </div>
</body>

</html>