html{
    background-image: url("images/img4.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 5%; */
    padding: 5px;
}

@font-face {
    font-family: font;
    src: url(fonts/SITKA.TTC);
}

.header{
    display: block;
    padding: 5px;
    border: 1px solid rgb(63, 93, 119);
    border-radius: 15px;
    box-shadow: inset 0 0 25px rgb(43, 99, 145);
    margin: 5px;
}

.form{
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-family: font;
    font-style: normal;
    font-size: medium;
}

.container{
    display: flex;
}

.left_container{
    display: block;
    width: 35%;
    padding: 10px;
    padding-top: 40px;
    border: 1px solid rgb(63, 93, 119);
    border-radius: 15px;
    box-shadow: inset 0 0 25px rgb(43, 99, 145);
    margin: 5px;
}

.right_container{
    margin: 5px;
    float: right;
    display: block;
    width: 65%;
    padding: 40px;
    border: 1px solid rgb(63, 93, 119);    
    border-radius: 15px;
    box-shadow: inset 0 0 25px rgb(43, 99, 145);    
    text-align: left;
}

.img{
    width: 400px;
    height: 400px;
    display: inline-block;
    margin: 5px;
    opacity: 0.8;
}

h1{
    font-family: font;
    font-weight: normal;
    color: #D2D6D9;
}

h2{
    font-family: font;
    font-weight: normal;
    color: #D2D6D9;
}

.button_box{
    margin-top:20px;
    text-align:center;
}

.btn{
    width: 25%;
    height: 45px;
    margin: 10px;
    color: white;
    background-color: #076CC1;
    border: 1px solid rgb(31, 46, 58);
    border-radius: 10px;
    box-shadow: inset 0 0 15px rgb(31, 46, 58);
    font-family: font;
    font-size: medium;
}

