<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/resume_results.css" />
    <title>Results</title>
</head>

<body>
    <div class="header">
        <h1>The best suited Job Position for the candidate(s) are:</h1>
    </div>
    <div>
        <table class="table">
            <tr class="columns">
                <td colspan="3">S.No.</td>
                <td colspan="3">Candidate Resume</td>
                <td colspan="3">Best Suited job</td>
            </tr>
            {% for item in result %}
            <tr>
                <td colspan="3"> {{ loop.index }}</td>
                <td colspan="3"> {{ item[0] }} </td>
                <td colspan="3"> {{ item[1] }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>