html{
    background-image: url("images/img4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 5%; */
    padding: 10px;
}

@font-face {
    font-family: font;
    src: url(fonts/SITKA.TTC);
}

.form{
    background-color: rgba(53, 78, 96, 0.7);
    border-radius: 1%;
    padding: 20px;

    text-align: center;
    text-decoration: none;
    font-family: font;
    font-style: normal;
    font-size: medium;
}

.left_container{
    align-items: left;
    vertical-align: left;
    margin-right: 10px;
}

.img{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0px 0px 0px 15px;
}

.heading{
    text-align:center;
    font-family: font;
    font-weight: normal;
    display: inline-block;
    width: 52%;
    margin: 0 0 1px 3px;
    vertical-align: 15px;
    text-decoration-color: antiquewhite;
}

.inner_container{
    margin: 20px;
    border:2px solid #333;
    background-color:#d6ffff;
}

.small_heading{
    font-family: font;
    font-weight: normal;
}